/* Les styles pour le premierSITE */

body {
    background-color: plum;
}

h1 {
    /* taille de typo */
    font-size: 45px;
    /* espacement entre les lettres */
    

    letter-spacing: 1px;
    /* couleur réf. héxadécimale */
    color:#2980b9;

}

h2 {
    font-size: 35px;
    color: #2c3e50;
    /* epaisseur des caractères */
    font-weight:bolder;

    /* ombre portée  une propriété qui a besoin de 1 ou plusieurs cf. :
    https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow
    */
    text-shadow: 1px 100px 2px #aaa;
}