body {
    background-color: yellowgreen;
    color: #fff;
}

.pink {
    background-color: pink;
}

.coral {
    background-color: lightcoral;
}

.c1,
.c2 {
    /* height: 200px;
    width: 200px;
    margin: 5px;
    float:left;

    border-radius:10% 5% 40% 0%;

    border: 1px solid #fff;
    text-align: center; */

    height: 10em;
    width: 10em;
    float: left;
    margin: 0.2em;

    border: 0.2em solid #fff;
    text-align: center;
    border-radius:10% 5% 40% 0%;

}

.c1 {
    text-transform: capitalize;
}

.clear {
    clear: both;
}