body {
    background-color: #d3d3d3;
    color: white;
}

#zoning-8 {
    width: 750px;
    margin: 0 auto;
    /* background-color: orangered; */
}

#haut1 {
    width: 160px;
    height: 130px;
    background-color:  #ff6347;
    float:left;
}

#haut2 {
    width: 320px;
    height: 130px;
    background-color:  #008080;
    float:left;
}

#haut3 {
    width: 160px;
    height: 130px;
    background-color:  #40e0d0;
    float:left;
}

#zoning-8 header {

}



footer {
    background-color: #40a497;
    height: 60px;
}

.clear {
    clear:both;
}
